
<div class="adminTab">
    <ul class="nav nav-tabs">
        <li role="presentation" [class.active]="activeTab=='endpoint'" (click)="activeTab='endpoint'"><a>Endpoint</a></li>
        <li role="presentation" [class.active]="activeTab=='build'" (click)="activeTab='build'"><a>Build</a></li>
        <li role="presentation" [class.active]="activeTab=='data'" (click)="activeTab='data'"><a>Data</a></li>
    </ul>

    <div class="content">

        <div *ngIf="activeTab=='endpoint'">
            Endpoint: <input type="text" [(ngModel)]="endpoint" />
            <button type='button' class='btn btn-default' (click)="saveConfig();">Save</button>
        </div>

        <div *ngIf="activeTab=='build'">
            <div style="display: block;">Build Number: <input type="text" [(ngModel)]="buildNumber"/></div>
            <div style="display: block; margin-left: 95px; font-size: 11px;">
                <input type="checkbox" id="newImpl" [(ngModel)]="newImplementation" />
                <label for="newImpl">New Implementation</label>
            </div>
            <div style="display: block; margin-left: 95px; font-size: 11px;">
                <input type="checkbox" id="errorNewImpl" [(ngModel)]="errorNewImplementation" />
                <label for="errorNewImpl">Error at new Implementation</label>
            </div>
            <div style="display: block; margin-left: 95px; font-size: 11px;"><button type='button' class='btn btn-default' (click)="saveConfig();">Save</button></div>
        </div>

        <div *ngIf="activeTab=='data'">
            <button type='button' class='btn btn-default' (click)="clearData();">Clear Data</button>
            <button type='button' class='btn btn-default' (click)="createDefaultData();">Initial Data</button>
            <button type='button' class='btn btn-default' (click)="createTestData();">Test Data</button>
        </div>

    </div>
</div>